footer {
  background-color: rgb(25, 25, 112); /* Color de fondo del pie de página */
  color: #fff; /* Color del texto */
  padding: 20px 0; /* Espaciado alrededor del contenido */
  text-align: center; /* Centrar el texto */
  font-size: 15px;
  
}
.autores{
  text-align: center; 
  list-style-type: none;
}

.titulos_footer{
  text-align: center; 
  font-size: 17px;
  margin-left: 2%;
}

.social-media a {
  margin: 0 10px;
  margin-left: 2%;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10%;
}

.social-icon:hover {
  transform: scale(1.1);
}