html{
    
}

#tituloSomos{
    background-color: rgba(0, 0, 0,0.3);
    margin: 1%;
    padding:  3%;
    border-radius: 20%;
    text-align: center;
    color: white;
}

#contenidoSomos{
    background-color: rgba(0, 0, 0,0.3);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
    border-radius: 10%;
    text-align: justify;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    margin: 0 auto; /* Centrar las tarjetas horizontalmente en el contenedor */
}
/* Estilo general para el cuerpo */
/* Estilo general para el cuerpo */
body {
    background-image: url('Pic/fondoGamer.jpg');
    background-size: 100% ;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal para el layout */
.container {
    
    display: flex;
    justify-content: space-between; /* Espacio entre el main y los aside */
    padding: 20px;
}

/* Estilo para los asides */
aside {
    flex: 1; /* Permite que los asides se ajusten al contenido */
    margin: 0 10px; /* Espacio entre los asides y el main */
}

/* Estilo para el main */
main {
    
    flex: 2; /* Permite que el main ocupe más espacio que los asides */
    color: white; /* Color del texto en el main */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados para el main */
}

/* Tarjetas dentro de los asides */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    color: white;
    width: 100%; /* Ancho completo del contenedor de la tarjeta */
    margin: 0 auto; /* Centra las tarjetas horizontalmente */
    background-color: mediumvioletred; /* Color de fondo de las tarjetas */
    border: 1px solid mediumvioletred; /* Borde opcional para las tarjetas */
    border-radius: 8px; /* Bordes redondeados para las tarjetas */
    overflow: hidden; /* Para asegurar que las esquinas redondeadas no se rompan */
    padding: 10px;
}




nav .container-fluid{
    background-color: midnightblue;
    padding: 10px;
}
.navbar navbar-expand-lg bg-body-tertiary{
    margin: 0px !important;
    padding: 0px !important;;
}
.navbar-brand{
    color:white !important;
}
.btn-outline-success {
    color: white  !important;
    border: 1px solid white !important;
    background-color: transparent;
  }
  
.btn-outline-success:hover {
    color: white !important;
    background-color: mediumvioletred !important;
  }
.nav-link{
    color: white !important;
    margin: 5px;
    border: 1px solid white !important;
    border-radius: 10px;
    padding: 5px 10px;
}
.nav-link:hover{
    background-color: mediumvioletred !important;
}


footer {
    background-color: rgb(25, 25, 112); /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado alrededor del contenido */
    text-align: center; /* Centrar el texto */
    font-size: 15px;
    
  }
  .autores{
    text-align: center; 
    list-style-type: none;
  }
  
  .titulos_footer{
    text-align: center; 
    font-size: 17px;
    margin-left: 2%;
  }
  
  .social-media a {
    margin: 0 10px;
    margin-left: 2%;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10%;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }

