html{
    background-image: url('Pic/fondoGamer.jpg');
    background-size: 100% ;
}

#tituloSomos{
    background-color: rgba(0, 0, 0,0.3);
    margin: 1%;
    padding:  3%;
    border-radius: 20%;
    text-align: center;
    color: white;
}

#contenidoSomos{
    background-color: rgba(0, 0, 0,0.3);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
    border-radius: 10%;
    text-align: justify;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: midnightblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
 
nav .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
 
nav .logo i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
nav ul li {
    margin-left: 20px;
}
 
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
}
 
nav ul li a:hover {
    background-color: mediumvioletred;
    border-radius: 5px;
}
 
nav .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}
 
nav .logo i {
    font-size: 28px;
    color: #ffcc00;  
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}
 
nav .logo span {
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
 
nav .logo:hover i {
    transform: rotate(360deg);
    color: #ff6600;
}
 
 /*FOOTER*/

 footer {
    background-color: rgba(25, 25, 112); /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado alrededor del contenido */
    text-align: center; /* Centrar el texto */
    font-size: 15px;
    
  }
  .autores{
    text-align: center; 
    list-style-type: none;
  }
  
  .titulos_footer{
    text-align: center; 
    font-size: 17px;
    margin-left: 2%;
  }
  
  .social-media a {
    margin: 0 10px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }


