html{
    width: 100%;
    height: 100%;
    background-size: 100% ;
}

.container-fluid{
    width: 100%;
    padding: 100px;
    background-image: url('./Pic/fondoGamer.jpg');
    background-size: 100% ;
    color: white;
}



