html {
    height: 100%;
    width: 100%;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }


/* Main */
main {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

#banner-img{
  width: 100%;
}

.text-news{
  font-size: 1 rem;
  font-weight: 200;
}

#articles-header{
  text-shadow: mediumvioletred 1px 0 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  color: white;
  width: 100%; /* Ancho completo del contenedor de la tarjeta */
  margin: 0 auto; /* Centra las tarjetas horizontalmente */
  background-color: mediumvioletred; /* Color de fondo de las tarjetas */
  border: 1px solid mediumvioletred; /* Borde opcional para las tarjetas */
  border-radius: 8px; /* Bordes redondeados para las tarjetas */
  overflow: hidden; /* Para asegurar que las esquinas redondeadas no se rompan */
  padding: 10px;
}
